/* SLIDER DE CATEGORIAS */

.slider-categorias {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.card-categoria {
    display: flexbox;
    margin: 1em;
}

.card-image {
    width: 240px;
    height: 210px;
}

.card-name {
    position: absolute;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    width: 231px;
    margin-top: -49px;
    text-align: left;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #E5E5E5;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}

.dia-semana {
    text-align: left;
    font-family: 'Bellota Text';
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

/* SLIDER DE PROMOÇÕES */

.slider-promocao {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.card-promocao {
    display: flexbox;
    margin: 1em;
}

.card-promocao .attachment-woocommerce_thumbnail {
    width: 240px;
    height: 373px;
}

.card-promocao-dados {
    position: absolute;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    margin-top: -94px;
    width: 231px;
    text-align: left;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #E5E5E5;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}

.card-promocao-dados button {
    position: absolute;
    margin-top: -40px;
    margin-left: 185px;
}

.card-promocao-dados #card-titulo {
    margin-top: 0;
}

.card-promocao-dados #card-preco {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
}