/* HEADER  */

.page-header {
    padding: 0.8em 8em;
    background: #7A247D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-logo {
    width: 77px;
    height: 50px;
}

.header-search-bar {
    background-color: #7A247D;
    border: solid;
    border-color: #F5C661;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 180px;
}

.header-search-bar>form>input[type="text"]:focus {
    outline: none;
}

.header-search-bar>form>input[type="image"] {
    width: 18.71px;
    height: 18.71px;
}

.header-search-bar>form>input {
    background-color: #7A247D;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-family: 'Bellota Text', cursive;
    font-weight: 300;
    font-size: 18px;
    color: #F5C661;
    width: 412px;
}

#header-cart-icon {
    width: 48px;
    height: 42px;
}

#header-user-icon {
    width: 35px;
    height: 35px;
}


/* MENU DE USUÁRIO  */

.nav-bar {
    padding: 15px;
    text-align: center;
    font-family: 'Bellota Text';
    font-weight: 700;
    font-size: 24px;
    background: #F5C661;
}

.nav-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: block;
    cursor: pointer;
}

.nav-list a {
    color: #000;
    text-decoration: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 5%;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover {
    color: #fff;
}


/* CARRINHO */

.darken-screen {
    position: fixed;
    background: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 25;
}

.cart-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 1em 2em;
    z-index: 50;
    background: #F5C661;
}

.cart-bar>h2 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 0;
    color: #6A066D;
}

.cart-bar hr {
    border-color: #6A066D;
}

.cart-list {
    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    font-family: 'Bellota Text';
    font-size: 18px;
    margin-bottom: 8px;
}

#close-button {
    position: absolute;
    right: 19px;
}

#close-button>button {
    border: none;
    cursor: pointer;
    background: transparent;
}

.produto {
    display: flex;
    align-content: stretch;
    margin: 20px 0px;
    background: #E7FAFE;
}

.produto-info {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 8px 22px 16px 16px;
}

.produto-info2 {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
}

.produto>.size-woocommerce_thumbnail {
    width: 110px;
    height: 100px
}