.purple-block {
    background: #7A247D;
    padding: 1.5em;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.purple-block h1 {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    color: #F5C661;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.purple-block > h2 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #FAFAFA;
}

.purple-block > sub {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    color: #FAFAFA;
}

.page-content {
    padding: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.page-content-index {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-flow: column wrap;
}

.page-content > h2 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}

.page-content > h3 {
    font-family: 'Bellota Text';
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

#outras-opcoes{
    margin-bottom: 2em;
}

/* VISITE A NOSSA LOJA */

.about-us {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    margin: 0.2em 2em;
}

.mapa-e-endereco {
    align-self: center;
}

.endereco {
    text-align: left;
}

.endereco > div {
    margin: 0.5em;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.icon {
    margin-right: 1rem;
}

/* SLIDESHOW */

.slideshow input{
    display: none;
}

.slideshow {
    height: 393px;
    width: 500px;
    margin:auto;
    position: relative;
    padding: 1em;
}

.slideshow li {
    list-style: none;
    position: absolute;
}

.slideshow label {
    background-color: #FAFAFA;
    bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
    display:block;
    height: 15px;
    position: absolute;
    width: 15px;
    z-index: 10;
}

.slideshow li:nth-child(1) label {
    left: 255px;
}

.slideshow li:nth-child(2) label {
    left: 285px;
}

.slideshow li:nth-child(3) label {
    left: 315px;
}
.slideshow img {
    opacity: 0;
    visibility: hidden;
}
.slideshow p {
    opacity: 0;
    visibility: hidden;
}

.slideshow li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slideshow li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slideshow li input:checked ~ label {
    background-color: black;
}