.site-main{
    padding: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.no-margin {
    margin: 0;
}

.page-content {
    padding-bottom: 0 !important;
}

ul.products {
    display: inline-flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;
    list-style:none;
    padding-left: 0;
}

ul.products::after {
    clear: both
}

ul.products li.product,
ul.products .wc-block-grid__product,
.wc-block-grid__products li.product,
.wc-block-grid__products .wc-block-grid__product {
    list-style: none;
    margin-left: 0;
    margin-bottom: 2em;
    text-align: center;
    position: relative
}

ul.products li.product .woocommerce-LoopProduct-link,
ul.products .wc-block-grid__product .woocommerce-LoopProduct-link,
.wc-block-grid__products li.product .woocommerce-LoopProduct-link,
.wc-block-grid__products .wc-block-grid__product .woocommerce-LoopProduct-link {
    display: block
}

ul.products li.product .price,
ul.products .wc-block-grid__product .price,
.wc-block-grid__products li.product .price,
.wc-block-grid__products .wc-block-grid__product .price {
    display: block;
    color: #43454b;
    font-weight: 400;
    margin-bottom: 1rem
}

ul.products li.product .woocommerce-loop-product__title,
ul.products li.product .woocommerce-loop-category__title,
ul.products li.product .wc-block-grid__product-title,
ul.products li.product .wc-block-grid__product-title>a:not(.has-font-size),
ul.products .wc-block-grid__product .woocommerce-loop-product__title,
ul.products .wc-block-grid__product .woocommerce-loop-category__title,
ul.products .wc-block-grid__product .wc-block-grid__product-title,
ul.products .wc-block-grid__product .wc-block-grid__product-title>a:not(.has-font-size),
.wc-block-grid__products li.product .woocommerce-loop-product__title,
.wc-block-grid__products li.product .woocommerce-loop-category__title,
.wc-block-grid__products li.product .wc-block-grid__product-title,
.wc-block-grid__products li.product .wc-block-grid__product-title>a:not(.has-font-size),
.wc-block-grid__products .wc-block-grid__product .woocommerce-loop-product__title,
.wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title,
.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title,
.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title>a:not(.has-font-size) {
    font-size: 1rem
} */

ul.products li.product .star-rating,
ul.products .wc-block-grid__product .star-rating,
.wc-block-grid__products li.product .star-rating,
.wc-block-grid__products .wc-block-grid__product .star-rating {
    font-size: .875em
} */

ul.products li.product img,
ul.products .wc-block-grid__product img,
.wc-block-grid__products li.product img,
.wc-block-grid__products .wc-block-grid__product img {
    display: block;
    margin: 0 auto 1.618em
}

/* Customização Single-Product */

.produto-foto {
    width: 392px;
    height: 249px;
    margin-right: 106px;
}

.produto-big-container{
    display: flex;
    flex-flow: row nowrap;
}

.produto-container{
    display: inline-block;
}

.produto-descricao {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
}

.produto-titulo {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#produto-preco {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: justify;
}

.produto-flex {
    display: flex;
    flex-flow: column wrap;
}

.plus, .minus {
    border: 1px solid #6A066D;
    background: transparent;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}

.plus{
    margin-left: -8px;
    padding-left: 10px;
    padding-right: 10px;
}

.minus{
    margin-right: -8px;
    padding-left: 10px;
    padding-right: 10px;
}

.numero-quantidade {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #6A066D;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
}

.cart {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fullspace{
    width: 100%;
}