/*
Theme Name: Comes & Bebes
Author: Victor Verdan
Description: Trabalho Final do Site Comes & Bebes
Version: 1
*/

@import 'css/normalize.css';
@import 'css/header.css';
@import 'css/home.css';
@import 'css/cards-sliders.css';
@import 'css/shop.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');

/* BOTÕES E OUTRAS COISAS GLOBAIS */

header {
    display: flex;
    flex-flow: column nowrap;
    position: sticky;
    top: 0;
    z-index: 10;
}

.box-button-yellow {
    background: rgb(245, 198, 97);
    color: #000;
    padding: 9px 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.box-button-yellow:hover {
    background: rgba(245, 198, 97, 0.8);
}

.box-button-purple {
    text-transform: uppercase;
    background: rgb(126, 52, 129);
    color: #fff;
    padding: 5px 25px;
    border: none;
    font-family: 'Bellota Text', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.19px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.box-button-purple:hover {
    background: rgba(126, 52, 129, 0.8);
}

.button-buy {
    height: 40px;
    width: 37px;
    border: none;
    cursor: pointer;
    background-color: rgb(245, 198, 97);
    background-image: url('img/add-cart-icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* BODY */

body {
    background: #E7FAFE;
}

main {
    font-family: 'Bellota Text', sans-serif;
    font-size: 24px;
    font-weight: normal;
}


/* FOOTER  */

footer {
    background: #F5C661;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    font-family: 'Bellota Text', sans-serif;
    font-weight: 700;
}